<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniNest"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".ui.auth.ChoreListActivity"
            android:exported="false">

        </activity>



       <activity android:name=".ui.auth.AddChoreSmartActivity" android:exported="false" />

        <activity
            android:name=".ui.auth.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.Onboarding3Activity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.Onboarding2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.Onboarding1Activity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LettingAgentBuildingsActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".ui.auth.TenantLoginActivity"-->
<!--            android:exported="false" />-->

<!--        <activity-->
<!--            android:name=".ui.auth.TicketPredictionActivity"-->
<!--            android:exported="false" />-->

<!--        <activity-->
<!--            android:name=".ui.auth.DisplayTicketsbyBuilding"-->
<!--            android:exported="false" />-->
<!--        <activity-->
<!--            android:name=".ui.auth.LettingAgentTicketsActivity"-->
<!--            android:exported="false" />-->


        <activity
            android:name=".ui.auth.LettingAgentLoginActivity"
            android:exported="true">
           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.AddCalendarEventActivity"
            android:exported="false" >


        </activity>
        <activity
            android:name=".ui.auth.RoomTypeDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.SetupApartmentRoomsActivity"
            android:exported="false" />



        <activity
            android:name=".ui.auth.TenantCardView"
            android:exported="false" />
        <activity
            android:name=".ui.auth.ApartmentTenantsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LettingAgentApartmentsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.AddApartmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.AddBuildingActivity"
            android:exported="false" />

        <activity
            android:name=".ui.auth.LettingAgentTicketsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.RaiseTicketActivity"
            android:exported="false" />

        <activity
            android:name=".ui.auth.BulkApartmentWithRoomsActivity"
            android:exported="false" />

<!--        <activity-->
<!--            android:name=".ui.auth.LettingAgentLoginActivity"-->
<!--            android:exported="false">-->
<!--        </activity>-->

<!--        <activity-->
<!--            android:name=".ui.auth.TenantSignUpActivity"-->
<!--            android:exported="false" />-->

        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>